---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import MyWork from "../components/MyWork.astro";
import ContactMe from "src/components/ContactMe.astro";
import Footer from "src/components/Footer.astro";
import Navbar from "src/components/Navbar.astro";
import { Language } from "src/components/typings";
const mainLanguage = Language.English;
---

<Layout title="Carlos Gamino">
  <Navbar language={mainLanguage} />
  <main>
    <Hero language={mainLanguage} />
    <AboutMe language={mainLanguage} />
    <Experience language={mainLanguage} />
    <MyWork language={mainLanguage} />
    <ContactMe />
  </main>
  <Footer />
</Layout>
