---
import type { BaseProps } from "./typings";
import { Image } from "@astrojs/image/components";
import myPhoto from "@images/photo.jpg";
import translations from "src/data/translations/aboutMe";

const { language } = Astro.props;
export type Props = BaseProps;
---

<section class="container" id="about">
  <h2>{translations.title[language]}</h2>
  <div class="about-content">
    <Image
      src={myPhoto}
      alt={translations.photoAlt[language]}
      width={128}
      format="webp"
    />
    <div class="about-text">
      <p>{translations.aboutText1[language]}</p>
      <p>{translations.aboutText2[language]}</p>
      <p>{translations.aboutText3[language]}</p>
    </div>
  </div>
</section>

<style>
  img {
    --size: 200px;

    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    margin: 0 0 var(--size-fluid-3);
  }

  h2 {
    text-align: center;
    margin: 0 0 var(--size-fluid-4);
  }

  .about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  p {
    max-width: 60ch;
    font-size: var(--font-size-1);
    word-wrap: break-word;
    margin: auto;
  }

  .about-text {
    padding: var(--size-fluid-2);
  }

  .about-text p:first-child {
    text-indent: 2ch;
  }

  .about-text p:nth-child(2) {
    text-indent: 2ch;
    margin-top: var(--size-fluid-2);
  }

  @media (min-width: 1024px) {
    img {
      --size: 250px;

      margin: 0;
    }

    .about-content {
      flex-direction: row;
    }

    .about-me-actions {
      max-width: 45ch;
    }

    p {
      max-width: 45ch;
    }
  }
</style>
