---
import type { BaseProps } from "./typings";
import myPhoto from "@images/photo.jpg";
import { Image } from "astro:assets";
import translations from "src/data/translations/hero";
import { Icon } from "astro-icon";
import resume from "/curriculum-vitae-carlos-gamino.pdf";

const { language } = Astro.props;
export type Props = BaseProps;
---

<section class="container">
  <Image
    src={myPhoto}
    alt={translations.pictureAlt[language]}
    width={1440}
    format="webp"
    loading="eager"
  />
  <div class="details">
    <h1>Carlos Gamino</h1>
    <h2>{translations.heroTitle[language]}</h2>
    <div class="buttons">
      <a class="btn btn-outline btn-tertiary" href={resume}>
        <Icon width={20} name="mdi:resume" />
        <span>{translations.resume[language]}</span>
      </a>
      <a
        class="btn btn-outline btn-tertiary"
        href="https://github.com/gamino97"
      >
        <Icon width={20} name="simple-icons:github" />
        <span>Github</span>
      </a>
    </div>
  </div>
</section>
<style>
  a {
    display: inline-flex;
    gap: var(--size-2);
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
  }

  img {
    --size: 300px;

    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    object-fit: cover;
  }

  .details {
    margin: var(--size-fluid-4);
  }

  .buttons {
    display: flex;
    gap: var(--size-4);
    margin-top: var(--size-fluid-3);
  }

  h1 {
    font-weight: var(--font-weight-6);
  }

  h2 {
    color: hsl(var(--accent2) / 70%);
    margin: 0;
  }

  @media (min-width: 1024px) {
    .container {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
</style>
