---
import Icon from "astro-icon";
import myWorkData from "src/data/myWork";
import { Image } from "@astrojs/image/components";
---

<section class="container">
  <h2>My Work</h2>
  <div class="work-card-wrapper">
    {
      myWorkData.map((work) => (
        <div class="work-card">
          <div class="icons-wrapper">
            <a href={work.url} class="icon-link">
              <Icon name="ph:link-simple-bold" width={60} />
              <span>Web</span>
            </a>
            {work.github && (
              <a href={work.github} class="icon-link">
                <Icon name="simple-icons:github" width={60} />
                <span>Github</span>
              </a>
            )}
          </div>
          <Image
            src={import(`../images/${work.img.src}.jpg`)}
            alt={work.img.alt}
            height={200}
            format="webp"
            position="center"
          />
          <h3>{work.name}</h3>
          <p>{work.description}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .work-card {
    width: var(--size-fluid-10);
    position: relative;
    overflow: hidden;
    border: 5px solid hsl(var(--accent1) / 70%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .work-content {
    display: flex;
    justify-content: space-between;
  }

  .icons-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-fluid-3);
    backdrop-filter: blur(5px);
    transition: transform 0.2s;
    transform: translateY(-200%);
  }

  .work-card:hover > .icons-wrapper {
    transform: translateY(0);
  }

  .icon-link {
    background-color: hsl(var(--accent1) / 80%);
    padding: var(--size-fluid-4);
    border-radius: var(--radius-2);
  }

  .icon-link:hover {
    background-color: hsl(var(--accent1) / 95%);
  }

  [astro-icon] {
    color: hsl(var(--white));
    margin: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    margin: 0 0 var(--size-fluid-4);
  }

  h3 {
    text-align: center;
  }

  img {
    object-fit: cover;
  }
</style>
